* {
   margin: 0;
   padding: 0;
}

body{
   background-color: rgb(212, 153, 80);
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   font-size: 32px;
   padding: 0 15px;
}

.header{
display: flex;
flex-direction: column;
align-items: center;

gap: 20px;
}

.title {
   color: rgba(77, 73, 73, 0.766);
   
}

.mini__title{
   width: 500px;
   height: 20px;
   padding: 15px 0;
   padding-left: 20px;
   border: none;
   border-radius: 22px;
   font-size: 16px;

}



.button{
   padding: 10px 200px;
   border: 2px solid rgb(20, 205, 140);
   border-radius: 30px;
   font-size: 16px;
   cursor: pointer;
   font-weight: bold;
   background-color: transparent;
}

.button:hover{
   background-color: rgba(127, 255, 212, 0.636);
}

.list {
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   max-width: 500px;
   font-size: 20px;
   gap: 10px;

}

.list li {
   display: flex;
   list-style: none;
   width: 500px;
   min-height: 60px;
   display: flex;
   align-items: center;
   border-radius: 20px;
   border-bottom: 1px solid rgb(185, 183, 183);
   background-color: #fff;

}

li {
   position: relative;
}

.go{
   position: absolute;
   background-color: rgb(76, 246, 24);
   padding: 0px 10px;
   border: none;
   border-radius: 25px;
   right: 0;
   margin-right: 60px;
   cursor: pointer;
   font-weight: bold;

}

.go:hover{
   background-color: rgb(58, 160, 27);

}
.bag{
   background-color: rgb(238, 255, 47);
}

.bag:hover{
   background-color: rgb(159, 170, 39);

}

.not{
   background-color: red;
   padding: 2px 12px;
   border: none;
   border-radius: 25px;
   margin:0 10px;
   position: absolute;
   right: 0;
   cursor: pointer;
   font-weight: bold;
}

.not:hover{
   background-color: rgb(177, 9, 9);

}

.text-decoration {
   text-decoration: line-through;
}

.name{
   padding-left: 10px;
   font-size: 24px;
}

.para {
   font-size: 24px;
   font-weight: bold;
  
}